.filter__list {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    
    // align-items: center;
}

.filter__list .filter__item+.filter__item {
    margin-left: 8px;
}

.filter__button {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
}