.contact__link {
    color: var(--secondary-text-color);

    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);

    }
}

.contact__icon {
    margin-right: 10px;
}

.page-header__container .contact__list {
    display: none;
    
    @media screen and (min-width: 768px) {
        display: flex;
            flex-direction: column;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
    
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            margin-left: auto;
        }
}
.page-header__container .contact__list .contact__item+.contact__item {
    margin-top: 10px;
    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: 50px;
    }
    
}

.page-header__container .contact__link {

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        @include font(12px, 500, 14px);
    }
    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        @include font(14px, 500, 16px);
    }
}

.mobile-menu__container .contact__list {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;

    & .contact__item+.contact__item {
        margin-bottom: 32px;
    }

}

.mobile-menu__container {
    & .contact__link {
        @include font(24px, 500, 28px);
    }
    & .contact__item:last-child .contact__link {
    @include font (34px, 500, 40px);
    color: var(--accent-color);
    }
}

.footer__contacts-item .contact__item {
    margin-top: 8px;
    @media screen and (min-width: 1200px) {
        margin-top: 9px;
    }
}