.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.75);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 450px;
    
    padding: 40px;
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--transition-dur-and-func);
    @media screen and (min-width: 480px) {
        height: 609px;
    }
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-bg-color);

    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus,
    &:active {
        color: var(--accent-color);
    }
}
